body{
	background: #151516 url('imagens/fundo.png');
	font: 16px Arial, Helvetica, sans-serif;
}

#principal {
	width: 900px;
	margin: auto;
}

#menu {
	background: #b3b2c5;
	padding: 18px;
}

#conteudo {
	background: #dbd9e8;
	padding: 10px;
}

#rodape {
	text-align: center;
	color: rgb(255, 0, 0);
}

a {
	color: #0b0629;
	text-decoration:underline;
	font-weight: bold;
	padding: 5px;
}

.centralizar {
	text-align: center;
}

.img-campanha {
	border: 10px solid #c3aec1;
}

h1 {
	color: #817182;
	font-size: 1.2em;
}
.img-campanha:hover{
    animation-name: a1;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    animation: a1 .5s .5s linear 1;
}
@keyframes a1{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0);
    }

}
